@mixin transition($duration) {
    -webkit-transition: all $duration ease-in-out;
    -moz-transition: all $duration ease-in-out;
    -ms-transition: all $duration ease-in-out;
    -o-transition: all $duration ease-in-out;
    transition: all $duration ease-in-out;
}

@mixin translateX($distance) {
    -webkit-transform:translateX($distance);
    -moz-transform:translateX($distance);
    -ms-transform:translateX($distance);
    -o-transform:translateX($distance);
    transform:translateX($distance);
}