/** TRANSITION IN **/
body.off-canvas-in .off-canvas-header {
  -webkit-transform: translateX(270px);
  -moz-transform: translateX(270px);
  -ms-transform: translateX(270px);
  -o-transform: translateX(270px);
  transform: translateX(270px); }
body.off-canvas-in .off-canvas-holder {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px); }

/** END TRANSITION IN **/
.off-canvas {
  padding-top: 40px !important; }

.off-canvas-header, .off-canvas-holder, .off-canvas-holder * {
  box-sizing: border-box; }

/** HEADER **/
.off-canvas-header {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
  position: fixed;
  width: 100%;
  background: #262626;
  height: 45px;
  left: 0px;
  top: 0px;
  z-index: 100; }
  .off-canvas-header .off-canvas-toggle {
    width: 8px;
    height: 4px;
    left: 0px;
    position: absolute;
    margin: 12px;
    padding: 13px;
    border-top: 10px double #fff;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
    cursor: pointer; }
    .off-canvas-header .off-canvas-toggle:before {
      content: '';
      width: 34px;
      height: 3px;
      background: #fff;
      top: 4px;
      left: 0px;
      position: absolute; }

/** HOLDER **/
.off-canvas-holder {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: translateX(-270px);
  -moz-transform: translateX(-270px);
  -ms-transform: translateX(-270px);
  -o-transform: translateX(-270px);
  transform: translateX(-270px);
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  width: 270px;
  left: 0px;
  top: 0px;
  height: 120%;
  background: #262626;
  padding: 28px 0px;
  position: fixed;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 99;
  -webkit-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch;
  overflow-scrolling: touch;
  font-family: arial;
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }
  .off-canvas-holder ul, .off-canvas-holder ol {
    list-style: none;
    padding-left: 0px;
    border-top: 1px solid #333333;
    margin-left: 0px;
    padding-left: 0px;
    width: 100%; }
    .off-canvas-holder ul li, .off-canvas-holder ol li {
      width: 270px;
      padding: 10px 20px;
      border-bottom: 1px solid #333333;
      position: relative;
      margin-left: 0px; }
  .off-canvas-holder a {
    color: #fff;
    text-decoration: none; }
  .off-canvas-holder .off-canvas-child {
    margin-top: 10px;
    padding-bottom: 0px;
    margin-bottom: -10px;
    margin-left: -20px;
    min-width: 340px;
    display: none; }
    .off-canvas-holder .off-canvas-child .off-canvas-child {
      margin-left: -40px;
      width: calc(100% + 60px); }
      .off-canvas-holder .off-canvas-child .off-canvas-child li {
        padding-left: 50px; }
    .off-canvas-holder .off-canvas-child li {
      padding-left: 30px; }
      .off-canvas-holder .off-canvas-child li:last-child {
        border-bottom: none; }
  .off-canvas-holder .off-canvas-has-children:after {
    content: '+';
    position: absolute;
    left: 80%;
    top: 10px;
    color: #fff; }
  .off-canvas-holder .off-canvas-child-open:after {
    content: '-';
    font-size: 24px;
    top: 4px; }
  .off-canvas-holder .off-canvas-child-open > .off-canvas-child {
    display: block; }

body.direction-right .off-canvas-holder {
  right: 0px !important;
  left: auto;
  -webkit-transform: translateX(270px);
  -moz-transform: translateX(270px);
  -ms-transform: translateX(270px);
  -o-transform: translateX(270px);
  transform: translateX(270px); }
body.direction-right .off-canvas-toggle {
  right: 10px;
  left: auto; }
body.direction-right.off-canvas-in .off-canvas-holder {
  right: 0px;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px); }
body.direction-right.off-canvas-in .off-canvas-header {
  -webkit-transform: translateX(-270px);
  -moz-transform: translateX(-270px);
  -ms-transform: translateX(-270px);
  -o-transform: translateX(-270px);
  transform: translateX(-270px); }

body.light-theme .off-canvas-header {
  background: #FAFAFA; }
  body.light-theme .off-canvas-header * {
    border-color: #303335 !important; }
body.light-theme .off-canvas-holder {
  background: #FAFAFA; }
  body.light-theme .off-canvas-holder * {
    border-color: #E8E7E7 !important; }
    body.light-theme .off-canvas-holder *:after, body.light-theme .off-canvas-holder *:before {
      color: #303335; }
  body.light-theme .off-canvas-holder li, body.light-theme .off-canvas-holder a {
    color: #303335; }
